.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 120s;
  opacity: 0;
}

@keyframes pulse {
  0%,
  45%,
  55%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
